/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .nav-logo {
  font-size: 1.8rem;
}

.navbar button {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 8px;
  transition: background-color 0.2s;
}

.navbar button:hover {
  background-color: var(--bg-tertiary);
} */

.post-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.post-card {
  width: 100%;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.post-profile {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.post-profile p {
  font-weight: 600;
  font-size: 0.95rem;
}

.post-card img {
  width: 100%;
}

.post-actions {
  padding: 12px 16px 8px 16px;
}

.like-button-svg {
  width: 24px;
  height: 24px;
  fill: var(--text-primary);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.like-button-svg:hover {
  fill: var(--text-secondary);
}

.post-caption {
  padding: 0 16px 16px 16px;
  font-size: 0.95rem;
}

.caption-username {
  font-weight: 700;
  margin-right: 6px;
}
